@media (max-width:2560px) {

  BODY {background-color: rgb(135, 154, 177);
  }

  .nav-link{
    font-size: medium;
  }


  .a {
    text-align: center;
    background: rgb(34, 195, 148);
    background: linear-gradient(0deg, rgba(34, 195, 148, 1) 0%, rgba(17, 69, 91, 1) 100%);
  }

  .c img {
    width: 85px;
  }

  .c {
    background-color: white;
  }

  .navbar-collapse {
    margin-left: 100px;
  }






  .b {
    background: rgb(30, 122, 128);
    background: linear-gradient(0deg, rgba(30, 122, 128, 1) 0%, rgba(7, 19, 57, 1) 100%);

    height: 70px;
  }

  .banner,
  h2,
  p,
  a {
    text-align: center;

  }

  .banner {
    text-align: center;
    padding: 100px;
    margin-top: 10px;
    
  }
  
  * {box-sizing: border-box}

/* style the container */
.container13 {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
  



  .features {
    width: 90%;
    margin-left: 50px;
    margin-top: 100px;
  }

  /* .about { 
    background: rgb(30, 55, 128);
    background: linear-gradient(0deg, rgba(30, 55, 128, 1) 0%, rgba(31, 7, 57, 1) 100%);
    color: white;
    padding: 10px;
  } */

  .foot {
    background: rgb(99, 30, 128);
    background: linear-gradient(0deg, rgba(99, 30, 128, 1) 0%, rgba(2, 11, 15, 1) 100%);
    padding: 10px;
    color: white;
  }



.b,
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding-top: 10px;

}



.track {
  padding: 50px;
  margin-top: -350px;
  margin-bottom: -200px;


}

.train {

  position: absolute;
  left: 900px;
  top: 2820px;

  animation-name: movingtrain;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes movingtrain {

  to {
    transform: translateX(-1300px);
  }

  from {
    transform: translateX(200px);
  }
}

.container11 {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  margin-top: 40px;
}

/* Clear floats after containers */
.container11::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container11 img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container11 span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container11 {
    text-align: center;
  }

  .container11 img {
    margin: auto;
    float: none;
    display: block;
  }
}

.testimonial{

  padding: 100px;
}


.about {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}






























}